{% block enhancedezbinaryfile_field_definition_edit %}
    <div class="enhancedezbinaryfile-validator max-file-size{% if group_class is not empty %} {{ group_class }}{% endif %}">
        {{- form_row(form.maxSize, {'label_attr': {'class': 'ez-label'}}) -}}
    </div>
    <div class="enhancedezbinaryfile-validator allowed-file-types{% if group_class is not empty %} {{ group_class }}{% endif %}">
        {{- form_row(form.allowedTypes, {'label_attr': {'class': 'ez-label'}}) -}}
    </div>
    <div class="enhancedezbinaryfile-validator mime-types-message{% if group_class is not empty %} {{ group_class }}{% endif %}">
        {{- form_row(form.mimeTypesMessage, {'label_attr': {'class': 'ez-label'}}) -}}
    </div>
{% endblock %}